/* src/About.css */
.about-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y: auto; /* Enable scrolling for longer content */
}

.about-header h1 {
  text-align: center;
}

.about-header p {
  text-align: center;
  margin: 10px 0;
}

.about-section {
  margin-top: 20px;
}

.about-section h2 {
  color: #004d40;
  margin-bottom: 15px;
}

.about-item h3 {
  margin-top: 0;
}

.about-item p, .about-item ul {
  margin-left: 20px;
}

.about-item ul {
  list-style-type: disc;
}

ul li {
  margin-bottom: 5px;
}
